rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // catch-all default deny
    match /{document=**} {
      allow read, write: if false;
    }

    // helper functions
    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == "luizgustavo14102010@gmail.com" || 
        request.auth.token.email == "luizgustavo@luizgustavo.com"
      );
    }

    function isOwner(ownerId) {
      return isSignedIn() && request.auth.uid == ownerId;
    }

    // Match blocks
    match /users/{userId} {
      allow get: if isSignedIn();
      allow list: if isAdmin();
      allow create: if isSignedIn() && (request.auth.uid == userId) && (!request.resource.data.keys().hasAll(['isAdmin']) || request.resource.data.isAdmin == false);
      allow update: if isSignedIn() && (request.auth.uid == userId || isAdmin()) && (request.resource.data.isAdmin == resource.data.isAdmin || isAdmin());
    }

    match /recipes/{recipeId} {
      allow read: if true;
      allow create: if isSignedIn();
      allow update: if isSignedIn() && (resource.data.authorId == request.auth.uid || isAdmin());
      allow delete: if isSignedIn() && (resource.data.authorId == request.auth.uid || isAdmin());
    }

    match /comments/{commentId} {
      allow read: if true;
      allow create: if true;
      allow delete: if isSignedIn() && (resource.data.userEmail == request.auth.token.email || isAdmin());
    }

    match /favorites/{favoriteId} {
      allow read: if isSignedIn() && (resource.data.userId == request.auth.uid || isAdmin());
      allow create: if isSignedIn();
      allow delete: if isSignedIn() && (resource.data.userId == request.auth.uid || isAdmin());
    }
  }
}
